<form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field>
            <input matInput placeholder="username" type="text" required [(ngModel)]="userLogin.username" name="username" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="password" type="text" required [(ngModel)]="userLogin.password" name="password" />
        </mat-form-field>
    </p>
    <p><button mat-raised-button color="primary" type="submit"
            [disabled]="!registerForm.form.valid">Submit</button></p>
</form>
