<nav>
    <mat-sidenav-container class="nav-container">
        <mat-sidenav mode="side" opened="true">
            <mat-nav-list>
                <a mat-list-item routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a>
                <a mat-list-item routerLink="/about" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">About us</a>
                <a mat-list-item routerLink="/articles" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Articles</a>
                <a mat-list-item routerLink="/edit-article" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Edit Article</a>
                <a mat-list-item routerLink="/tags" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Tags</a>
                <a mat-list-item routerLink="/publish-article" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Publish Article</a>
                <a mat-list-item routerLink="/add-journalist" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Add Journalist</a>
                <a mat-list-item routerLink="/delete-journalist" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Delete Journalist</a>
                <a mat-list-item routerLink="/login" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Login</a>
                <a mat-list-item routerLink="/register" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Register</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</nav>